# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Artifact 2.29.0
# https://github.com/bitnami/charts/blob/main/bitnami/common/Chart.yaml