{{- /*
(c) 2025 Firmansyah Nainggolan <firmansyah@nainggolan.id>. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if .Values.crds.enabled }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: exceptions.openappsec.io
  {{- if .Values.crds.keep }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
spec:
  group: openappsec.io
  versions:
    - name: v1beta1
      served: true
      storage: false
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: array
              items:
                type: object
                required:
                  - action
                properties:
                  action:
                    type: string
                    enum:
                      - skip
                      - accept
                      - drop
                      - suppressLog
                  sourceIp:
                    type: array
                    items:
                      type: string
                  url:
                    type: array
                    items:
                      type: string
                  sourceIdentifier:
                    type: array
                    items:
                      type: string
                  protectionName:
                    type: array
                    items:
                      type: string
                  paramValue:
                    type: array
                    items:
                      type: string
                  paramName:
                    type: array
                    items:
                      type: string
                  hostName:
                    type: array
                    items:
                      type: string
                  countryCode:
                    type: array
                    items:
                      type: string
                  countryName:
                    type: array
                    items:
                      type: string
                  comment:
                    type: string
    - name: v1beta2
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - action
                - condition
              properties:
                appsecClassName:
                  type: string
                action:
                  type: string
                  enum:
                    - skip
                    - accept
                    - drop
                    - suppressLog
                  default: accept
                condition: # required minItems:1
                  type: array
                  items:
                    type: object
                    required:
                      - key
                      - value
                    properties:
                      key:
                        type: string
                      value:
                        type: string
  scope: Cluster
  names:
    plural: exceptions
    singular: exception
    kind: Exception
    shortNames:
      - exception
{{- end }}
