{{- /*
(c) 2025 Firmansyah Nainggolan <firmansyah@nainggolan.id>. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if .Values.crds.enabled }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata :
  name: policyactivations.openappsec.io
  {{- if .Values.crds.keep }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
spec:
  group: openappsec.io
  versions:
    - name: v1beta2
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                appsecClassName:
                  type: string
                enabledPolicies:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      hosts:
                        type: array
                        items:
                          type: string
                    required:
                      - hosts
              required:
                - enabledPolicies
  scope: Cluster
  names:
    plural: policyactivations
    singular: policyactivation
    kind: PolicyActivation
    shortNames:
      - policyactivation
{{- end }}
