{{- /*
(c) 2025 Firmansyah Nainggolan <firmansyah@nainggolan.id>. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ .Values.webhook.name }}
  labels: {{- include "st-common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: storage
    app.kubernetes.io/part-of: open-appsec
webhooks:
  - name: {{ .Values.webhook.name }}
    clientConfig:
      service:
        name: {{ include "open-appsec.webhook.serviceName" . | quote }}
        namespace: {{ include "st-common.names.namespace" . | quote }}
        path: {{ .Values.webhook.path }}
        port: {{ .Values.webhook.service.ports.https }}
      caBundle: {{ .Values.webhook.caBundle | quote }}
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
        scope: {{ .Values.webhook.scope }}
    namespaceSelector:
      matchLabels: {{- include "st-common.tplvalues.render" (dict "value" .Values.agent.namespaceSelector.matchLabels "context" $) | nindent 8 }}
    objectSelector:
      matchLabels: {{- include "st-common.tplvalues.render" (dict "value" .Values.agent.objectSelector.matchLabels "context" $) | nindent 8 }}
    admissionReviewVersions: ["v1"]
    sideEffects: {{ .Values.webhook.sideEffects }}
    timeoutSeconds: {{ .Values.webhook.timeoutSeconds }}
    failurePolicy: {{ .Values.webhook.failurePolicy }}
    matchPolicy: {{ .Values.webhook.matchPolicy }}
