affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 1
      preference:
        matchExpressions:
        - key: node-role.kubernetes.io/worker
          operator: Exists

ingress:
  enabled: true
  hostname: adminer.dxm.nainggolan.id
  extraHosts:
    - name: macam.macam.com
    - name: macam.macam.id
  tls: true
  selfSigned: false

gateway:
  enabled: true
  name: webapps
  namespace: istio-ingressgateway

tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists
