{{- if and .Values.serviceAccount.create .Values.rbac.create }}
apiVersion: {{ include "common.capabilities.rbac.apiVersion" $ }}
kind: RoleBinding
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    release: {{ .Release.Name }}
    install.operator.istio.io/owning-resource: {{ default "unknown" .Values.ownerName }}
    operator.istio.io/component: {{ .Values.operator.component }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" (dict "value" .Values.commonAnnotations "context" $) | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "common.names.fullname" . | quote }}
subjects:
  {{- range $gateway := .Values.gateways }}
  {{- if $gateway.enabled }}
  - kind: ServiceAccount
    name: {{ printf "%s-sa" $gateway.name }}
  {{- end }}
  {{- end }}
{{- end -}}