{{- if .Values.metrics.enabled -}}
apiVersion: v1
kind: Endpoints
metadata:
  name: metrics
  namespace: {{ include "external-service.namespace" . | quote }}
  {{- $labels := include "external-service.tplvalues.merge" (dict "values" (list .Values.commonLabels) "context" .) }}
  labels: {{- include "external-service.labels.standard" (dict "customLabels" $labels "context" $) | nindent 4 }}
    app.kubernetes.io/component: metrics
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "external-service.tplvalues.render" (dict "value" .Values.commonAnnotations "context" $) | nindent 4 }}
  {{- end }}
subsets:
  {{- if not (empty .Values.addresses) }}
  - addresses:
      {{ range $address := .Values.addresses }}
      - ip: {{ $address.ip }}
        nodeName: {{ $address.nodeName }}
      {{- end }}
    ports:
      - name: http-metrics
        port: {{ .Values.metrics.ports.metrics }}
        protocol: TCP
  {{- end }}
{{- end -}}