{{- if and .Values.metrics.enabled .Values.worker.metrics.enabled .Values.metrics.serviceMonitor.enabled -}}
{{- if not (eq (include "common.capabilities.coreosMonitoring.apiVersion" .) "false") }}
apiVersion: {{ include "common.capabilities.coreosMonitoring.apiVersion" . }}
kind: ServiceMonitor
metadata:
  name: metrics
  namespace: {{ default (include "external-service.namespace" .) .Values.metrics.serviceMonitor.namespace | quote }}
  {{- $labels := include "external-service.tplvalues.merge" (dict "values" (list .Values.metrics.serviceMonitor.labels .Values.commonLabels ) "context" .) }}
  labels: {{- include "external-service.labels.standard" (dict "customLabels" $labels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: metrics
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "external-service.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.metrics.serviceMonitor.jobLabel }}
  jobLabel: {{ .Values.metrics.serviceMonitor.jobLabel }}
  {{- end }}
  endpoints:
    {{- $defaultEndpoint := pick .Values.metrics.serviceMonitor "port" "interval" "scrapeTimeout" "relabelings" "metricRelabelings" "honorLabels" }}
    {{- $endpoints := ternary (.Values.metrics.serviceMonitor.endpoints) (list (dict "path" .Values.metrics.serviceMonitor.path)) (empty .Values.metrics.serviceMonitor.path) }}
    {{- range $endpoints }}
    {{- $endpoint := merge . $defaultEndpoint }}
    - port: {{ $endpoint.port | quote }}
      path: {{ include "external-service.tplvalues.render" ( dict "value" $endpoint.path "context" $) }}
      {{- if $endpoint.interval }}
      interval: {{ $endpoint.interval }}
      {{- end }}
      {{- if $endpoint.scrapeTimeout }}
      scrapeTimeout: {{ $endpoint.scrapeTimeout }}
      {{- end }}
      {{- if $endpoint.relabelings }}
      relabelings: {{- include "external-service.tplvalues.render" (dict "value" $endpoint.relabelings "context" $) | nindent 6 }}
      {{- end }}
      {{- if $endpoint.metricRelabelings }}
      metricRelabelings: {{- include "external-service.tplvalues.render" (dict "value" $endpoint.metricRelabelings "context" $) | nindent 6 }}
      {{- end }}
      {{- if $endpoint.honorLabels }}
      honorLabels: {{ $endpoint.honorLabels }}
      {{- end }}
    {{- end }}
  namespaceSelector:
    matchNames:
      - {{ include "external-service.namespace" . | quote }}
  selector:
    matchLabels: {{- include "external-service.labels.matchLabels" (dict "customLabels" .Values.commonLabels "context" $) | nindent 6 }}
      {{- if .Values.metrics.serviceMonitor.selector }}
      {{- include "external-service.tplvalues.render" (dict "value" .Values.metrics.serviceMonitor.selector "context" $) | nindent 6 }}
      {{- end }}
      app.kubernetes.io/component: metrics
{{- end }}
{{- end -}}