{{- if .Values.networkPolicy.enabled }}
apiVersion: {{ include "common.capabilities.networkPolicy.apiVersion" . }}
kind: NetworkPolicy
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  podSelector:
    matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}
  ingress:
    - ports:
        - port: {{ .Values.service.ports.httpController }}
          protocol: TCP
        - port: {{ .Values.service.ports.httpsController }}
          protocol: TCP
        - port: {{ .Values.service.ports.httpPortal }}
          protocol: TCP
        - port: {{ .Values.service.ports.httpsPortal }}
          protocol: TCP
        - port: {{ .Values.service.ports.discovery }}
          protocol: UDP
        - port: {{ .Values.service.ports.speedtest }}
          protocol: TCP
        - port: {{ .Values.service.ports.stun }}
          protocol: UDP
        - port: {{ .Values.service.ports.syslog }}
          protocol: UDP
      {{- if not .Values.networkPolicy.allowExternal }}
      from:
        - podSelector:
            matchLabels:
              {{ include "common.names.fullname" . }}-client: "true"
        - podSelector:
            matchLabels: {{- include "common.labels.matchLabels" . | nindent 14 }}
        {{- if .Values.networkPolicy.additionalRules }}
          {{- include "common.tplvalues.render" (dict "value" .Values.networkPolicy.additionalRules "context" $) | nindent 8 }}
        {{- end }}
      {{- end }}
  policyTypes:
    - Ingress
{{- end }}