gateways:
  - name: webapps
    enabled: true

    containerPorts:
      http2: ""
      https: ""
      status: ""

    service:
      type: NodePort
      ipFamilyPolicy: SingleStack

      ports:
        http2: ""
        https: ""
        status: ""

      nodePorts:
        http2: 32380
        https: ""
        status: ""

    serviceAccount:
      create: true

  - name: freeradius
    enabled: true
    nodeAffinityPreset:
      type: "soft"
      key: ""
      values: []
    service:
      type: LoadBalancer
      extraPorts:
        - name: acct
          port: 1813
          protocol: UDP
        - name: auth
          port: 1812
          protocol: UDP
        - name: coa
          port: 3799
          protocol: UDP
        - name: radsec
          port: 2083
          protocol: UDP

      ipFamilyPolicy: PreferDualStack

  
