{{- if and .Values.gateway.enabled (not .Values.gateway.existingVirtualService) (not .Values.gateway.gatewayApi.create) -}}
{{- if not (eq (include "common.capabilities.istioNetworking.apiVersion" .) "false") -}}
apiVersion: {{ include "common.capabilities.istioNetworking.apiVersion" . }}
kind: VirtualService
metadata:
  name: {{ include "netbox.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if or .Values.ingress.annotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" ( dict "values" ( list .Values.ingress.annotations .Values.commonAnnotations ) "context" . ) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  gateways:
    - {{ printf "%s/%s" (include "common.names.namespace" .) (include "netbox.fullname" .) }}
  hosts:
    - {{ include "common.tplvalues.render" (dict "value" .Values.ingress.hostname "context" $) }}
    {{- range .Values.ingress.extraHosts }}
    - {{ .name | quote }}
    {{- end }}
  http:
    - match:
        - uri: 
            prefix: {{ default "/" .Values.ingress.path | quote }}
        {{- range .Values.ingress.extraPaths }}
        - uri: 
            prefix: {{ .path | quote }}
        {{- end }}            
      route:
        - destination:
            host: {{ printf "%s.%s.svc.%s" (include "netbox.fullname" $) (include "common.names.namespace" .) .Values.clusterDomain }}
            port:
              number: {{ .Values.service.ports.http }}
  {{- if or .Values.tls.enabled .Values.ingress.tls }}
  tls:
    - match:
        - port: 443
          sniHosts:
            - {{ .Values.ingress.hostname }}
            {{- range .Values.ingress.extraHosts }}
            - {{ .name | quote }}
            {{- end }}
      route:
        - destination:
            host: {{ printf "%s.%s.svc.%s" (include "netbox.fullname" .) (include "common.names.namespace" .) .Values.clusterDomain }}
  {{- end }}
{{- end -}}
{{- end -}}
