annotations:
  category: NetworkManagement
  artifacthub.io/links: |
    - name: Chart Source
      url: https://github.com/startechnica/apps/tree/main/charts/unifi
    - name: Upstream Project
      url: https://github.com/jacobalberty/unifi-docker
apiVersion: v2
appVersion: v7.1.66
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 1.x.x
  - name: influxdb
    condition: influxdb.enabled
    repository: https://helm.influxdata.com
    version: 4.x.x
  - name: mongodb
    condition: mongodb.enabled
    repository: https://charts.bitnami.com/bitnami
    version: 16.x.x
description: UniFi Network Application to manage UniFi devices
home: https://github.com/startechnica/apps/tree/main/charts/unifi
icon: https://prd-www-cdn.ubnt.com/static/favicon-152.png
keywords:
  - ubiquiti
  - unifi
  - unifi-poller
kubeVersion: ">=1.19.0-0"
maintainers:
  - name: firmansyahn
    email: firmansyah@nainggolan.id
    url: https://firmansyah.nainggolan.id
name: unifi
sources:
  - https://www.ui.com
  - https://help.ui.com/hc/en-us/categories/200320654-UniFi-Network
  - https://unpoller.com/
  - https://github.com/unifi-poller/unifi-poller
version: 0.1.3
