{{- if and (not .Values.postgresql.enabled) (not .Values.postgresql.existingSecret) (not .Values.externalDatabase.existingSecretName)  }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-%s" (include "netbox.fullname" .) "external-db" }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $) | nindent 4 }}
  {{- if or .Values.externalDatabase.annotations .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.merge" (dict "values" (list .Values.externalDatabase.annotations .Values.commonAnnotations) "context" $) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{ include "netbox.databaseSecretPasswordKey" . }}: {{ include "netbox.databasePassword" }}
{{- end }}
