{{- /*
(c) 2025 Firmansyah Nainggolan <firmansyah@nainggolan.id>. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

##ref: https://raw.githubusercontent.com/openappsec/openappsec/main/config/k8s/v1beta2/open-appsec-k8s-default-config-v1beta2.yaml

{{- if and .Values.defaultConfigurations.enabled (eq .Values.defaultConfigurations.mode "detect-learn" )}}
apiVersion: openappsec.io/v1beta2
kind: LogTrigger
metadata:
  name: default-log-trigger
spec:
  accessControlLogging:
    allowEvents: false
    dropEvents: true
  appsecLogging:
    detectEvents: true
    preventEvents: true
    allWebRequests: false
  extendedLogging:
    urlPath: true
    urlQuery: true
    httpHeaders: false
    requestBody: false      
  additionalSuspiciousEventsLogging:
    enabled: true
    minSeverity: high
    responseBody: false
    responseCode: true
  logDestination:
    cloud: true
    logToAgent: true
    stdout:
      format: json
{{- end }}
