{{- /*
(c) 2025 Firmansyah Nainggolan <firmansyah@nainggolan.id>. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

##ref: https://raw.githubusercontent.com/openappsec/openappsec/main/config/k8s/v1beta2/open-appsec-k8s-default-config-v1beta2.yaml

{{- if and .Values.defaultConfigurations.enabled (eq .Values.defaultConfigurations.mode "detect-learn" )}}
apiVersion: openappsec.io/v1beta2
kind: Policy
metadata:
  name: default-policy
spec:
  default:
    # start in detect-learn and move to prevent-learn based on learning progress 
    mode: detect-learn
    threatPreventionPractices:
    - default-threat-prevention-practice
    accessControlPractices:
    - default-access-control-practice
    customResponse: default-web-user-response
    triggers:
    - default-log-trigger
{{- end }}
